.call-to-action {
    display: none; /* Hide by default */
}

@media (min-width: 600px){
    * {
        font-family: 'Italiana';
        font-size: 16px;
        border: 5px darkblue;
    }

    body {
        margin-top: 80px;
        background-color: gray;
    }
    
    header * {
        display: inline;
    }
    
    header {
        background-color: whitesmoke;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10%;
        padding-left: 2%;
        padding-right: 8%;
        font-size: 1rem;
    }
    
    main {
        margin: 2%;
        padding: 2%; 
        color: white;
        border: 5px darkblue;
    }
    
    ul {
        padding: 0;
        margin: 0;
    }
    
    li {
        margin-top: 20px;
        margin-left: 0;
        padding: 20px;
    }
    
    a {
        color: black;
        font-size: 1rem; /* 1 * 22px = 22px  */
    }
    
    a:hover {
        color: sienna;
    }
    
    
    /* Header Section/Navbar */
    #hero-header-top {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    
    }
    
    #top-left {
        /* margin-top: min(4vh, 30rem); */
        margin-top: 2%;
        margin-right: 2%;
        padding-right: 4%;
        padding-left: 0;
        margin-left: 0;
        font-size: 1rem;
    }
    
    #top-right {
        margin-top: 1%;
        padding-top: 1%;
        padding-left: 22.5%;
    }
    
    #top-center {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1%;
        margin-left: 0;
        padding: 1%;
    }
    
    #book-me {
        background-color: peachpuff;
        color: #632C1A;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: bold;
        cursor: pointer;
    }
    
    .navbar {
        display: flex;
    }
    
    /* Hero Section */
    #hero-section {
        background-color: whitesmoke;
        margin-top: 200px;
        margin-bottom: 240px;
        padding-top: 100px;
        padding-bottom: 280px;
        display: inline-block;
    }
    
    #products-services-section {
        background-color: #E7CDCD;
    }
    
    #reviews-section {
        background-color: #632C1A;
    }
    
    #call-to-action-section {
        background-color: cadetblue;
    }
    
    #booking-form-footer {
        background-color: blueviolet;
    }
    
    #hero-header-1{
        /* border: 5px solid darkblue; */
        max-width: 100%;
        margin-top: 0%;
    }
    
    #hero-header-2{
        /* border: 5px solid darkblue; */
        max-width: 100%;
        float: left;
    }

    .call-to-action {
        /* Show the action in the navbar for desktop versions */
        display: block;

        /* Adjust the positioning as needed */
        position: absolute;
        top: 1%;
        right: 5%;
        z-index: 999;

    }

    .hero-section {
        background-color: whitesmoke;
        margin-top: 200px;
        margin-bottom: 240px;
        padding-top: 100px;
        padding-bottom: 280px;
        display: flex; /* Use Flexbox */
        justify-content: space-between; /* Place the children on opposite sides */
        align-items: center; /* Vertically align the children */
        flex-direction: row-reverse;
      }
      
      .hero-section-child {
        max-width: 70%;
      }
      
      #hero-section-right {
        max-width: 30%; /* Adjust the width of the right section */
        text-align: right; /* Align the content to the right */
      }
      
    
    .hero-content {
        max-width: 2400px;
        margin: 0 auto;
        display: inline-block;
        flex-direction: row;
    }
    
    .main-page-row {
        /* border: 1px solid black; */
        margin: 1rem;
        padding: 2rem 2rem;
        text-align: center;
    }
    
    .hero-section-child {
        display: inline-block;
        /* border: 1px solid red; */
        padding: 1rem 1rem;
        vertical-align: top;
        max-width: 70%;
    }
    
    #hero-section-right {
        max-width: 100%;
        height: 23.85rem;
    }
    
    img {
        max-width: 100%;
        border-radius: 30px;
    }
    
    /* .hero-section {
        border: 1px solid black;
        margin: 1rem;
        padding: 2rem 2rem;
        text-align: left;
        max-width: 100%;
    } */
    
    /* .child {
        display: inline-block;
        border: 1px solid red;
        padding: 1rem 1rem;
        vertical-align: middle;
    } */

}