@media (max-width: 600px){
    * {
        margin: 0;
        padding: 0;
        font-family: 'Italiana';
        font-size: 16px;
        box-sizing: border-box;
        outline: 1px solid red;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        /* grid-template-rows: auto;  */
    }

    #navbar {
        display: none;
    }

    #body{
        /* background-image: linear-gradient(peachpuff, whitesmoke); */
        display: grid;
        background-color: #fddac5;
        background-image: linear-gradient(315deg, #fffdf6 0%, #fddac5 74%);
        /* background-image: url('beauty_products.png'); */
    }

    #header{
        margin-bottom: 10%;
        height: 50%;
    }

    #logo-text{
        margin-top: 10%;
        margin-bottom: 30%;
        font-size: large;
        text-align: center;
    }

    #menu-btn{
        border-radius: 25px;
        width: 50%;
        float: right;
    }

    #home-main{
        text-align: center;
    }

    #hero-header-1{
        font-size: 15vw;
        height: 30vh;
    }
    #glam{
        font-size: 15vw;
    }
    #perfect{
        font-size: 15vw;
    }

}

@media only screen and (orientation: landscape){
    /* This will be for when the phone is in landscape mode */
}