
* {
    font-family: 'Italiana' ;font-size: 22px;
    border: 1px darkblue;
}

body {
    margin-top: 80px;
    background-color: gray;
}

header * {
    display: inline;
}

header {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
}

main {
    margin:20px;
    padding: 20px; 
    color: white;
    border: 1px darkblue;
}

li {
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
}

a {
    color: black;
    font-size: 1rem; /* 1 * 22px = 22px  */
}

a:hover {
    color: sienna;
}


/* Header Section/Navbar */
#hero-header-top {
    display: inline-flex;
}

#top-left {
    margin-top: 40px;
    margin-right: 20px;
    padding-right: 10px;
}

#top-right {
    margin-top: 20px;
    padding: 20px;
    padding-left: 180px;
}

#top-center {
    display: flex;
    margin-top: 20px;
    margin-left: 27px;
    padding: 20px;
}

#book-me {
    background-color: peachpuff;
    color: #632C1A;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;

}

/* Hero Section */
#hero-section {
    background-color: whitesmoke;
    margin-top: 200px;
    margin-bottom: 240px;
    padding-top: 100px;
    padding-bottom: 280px;
    display: inline-block;
}

#products-services-section {
    background-color: #E7CDCD;
}

#reviews-section {
    background-color: #632C1A;
}

#call-to-action-section {
    background-color: cadetblue;
}

#booking-form-footer {
    background-color: blueviolet;
}

#hero-header-1{
    /* border: 5px solid darkblue; */
    max-width: 100%;
    margin-top: 0%;
}

#hero-header-2{
    /* border: 5px solid darkblue; */
    max-width: 100%;
    float: left;
}

.hero-content {
    max-width: 2400px;
    margin: 0 auto;
    display: inline-block;
    flex-direction: row;
}

.main-page-row {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.hero-section-child {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    vertical-align: top;
    max-width: 70%;
}

#hero-section-right {
    width: 23%;
    height: 23.85rem;
}

img {
    border-radius: 30px;
}

/* .hero-section {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
    max-width: 100%;
} */

/* .child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
} */