/* * {
    font-family: 'Open Sans', sans-serif;
} */

* {
    font-family: 'Italiana' ;font-size: 22px;
}

body {
    /* background-color: peachpuff; */
    margin-top: 80px;
    background-color: whitesmoke;
}

main {
    /* margin:20px;
    padding: 20px; */
    /* color: white; */
    
}

li {
    margin-top: 20px;
    margin-left: 40px;
    margin-rigth: 40px;
    padding: 20px;

}

header {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 20px;
    text-decoration: none;
}

header * {
    display: inline;
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: sienna;
}

#hero-header-top {
    display: inline-flex;
}


#top-left {
    /* background-color: blueviolet; */
    margin-top: 40px;
    margin-righ: 20px;
    padding-right: 10px;
    

}

#top-right {
    /* background-color: aqua; */
    margin-top: 20px;
    padding: 20px;
    padding-left: 180px;
}

#top-center {
    display: flex;
    /* background-color: black; */
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}

#book-me {
    background-color: peachpuff;
    color: #632C1A;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;

}

.nav-bar {
    /* padding: 20px; */
}

/* .main-page-row {
    padding: 80px;
} */

#hero-section {
    
    background-color: whitesmoke;
    margin-top: 200px;
    margin-bottom: 240px;
    padding-top: 100px;
    padding-bottom: 280px;
    display: inline-block;
}

#products-services-section {
    background-color: #E7CDCD;
}

#reviews-section {
    background-color: #632C1A;
}

#call-to-action-section {
    background-color: cadetblue;
}

#booking-form-footer {
    background-color: blueviolet;
}

#hero-header-1{
    /* border: 5px solid darkblue; */
    max-width: 100%;
    margin-top: 0%;
}

#hero-header-2{
    /* border: 5px solid darkblue; */
    max-width: 100%;
    float: left;
}

/* #hero-section-left {
    flex: 1;
    padding: 0 auto;
    margin-left: 0 auto;
} */

/* #hero-section-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
} */

.hero-content {
    max-width: 2400px;
    margin: 0 auto;
    display: inline-block;
    flex-direction: row;
}

/* #hero-section-right img {
    width: 30%;
    max-height: 300px;
} */

.main-page-row {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.hero-section {
    /* border: 1px solid black; */
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: left;
    max-width: 100%;
}

.hero-section-child {
    display: inline-block;
    /* border: 1px solid red; */
    padding: 1rem 1rem;
    vertical-align: top;
    max-width: 70%;
}

#hero-section-right {
    width: 23%;
    height: 23.85rem;
}

img {
    border-radius: 30px;
}